*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("gradient.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#Caroussel{
    width: 800px;
    height: 400%;
    border: 2px solid ;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
#container{
    height: 400px;
    width: 800px;
}
.photo{
    height: 400px;
    width: 800px;
    margin: 0;
    display: inline-block;
    background-size: cover;

}
.bouton{
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 150px;
}
#g{
    left: 0;
    opacity: 0.6;
}
#d{
    right: 0;
    opacity: 0.6;
    /* transform: rotate(18deg); */
}
#g:hover{
    opacity: 1;
   background-color: red;

}
#d:hover{
    opacity: 1;
}
.zoom{
    transform: scale(120%);

}
